@import 'colors';

.movie-resume-container {
    position: relative;
}

.movie-resume-container__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: $white;
    opacity: 0.7;
    margin-top: 22px;
    margin-bottom: 8px;
    max-width: 75%;
}

.movie-resume-container__genre {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: $white;
    opacity: 0.5;
    margin: 0;
    max-width: 75%;
}

.movie-resume-container__year {
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: $white;
    opacity: 0.7;
    border: 1px solid $gray-border;
    border-radius: 4px;
}