.search-bar__input {
    height: 57px;
    width: 713px;
    color: white;
    background: rgba(50, 50, 50, 0.85);
    mix-blend-mode: normal;
    border-radius: 4px;
    margin: 14px 14px 50px 0;
    font-size: 20px;
    padding: 0 16px 0 19px;
}